


<div class="containter" style="margin-top: 5%">

  <div class="row justify-content-center" >

    <div class="col-4" >

      <div class="card" style="width: 40rem; border: 1px solid green;" >
 
        <h1 style="text-align: center;padding-top: 10%;">Add recipe form</h1>

        <form class="text-center border border-light p-5" [formGroup]="addRecipeForm" (submit)="createRecipe()">

          <div class="form-group">

            <label> Choose category to add recipe</label>

            <select class="form-conrol custom-dropdown" formControlName="categoryId" >
          
                <option>Categories</option>
          
                <option *ngFor="let dl of CategoryRecipesList" [value]="dl.categoryId">{{dl.categoryName}}</option>
          
            </select>
          
          </div>

          <input placeholder="Recipe name" type="text" formControlName="name" class="form-control mb-4">

           <p style="color: red;" *ngIf="addRecipeForm.get('name').touched && addRecipeForm.get('name').hasError('required')">Required field</p>

           <input placeholder="UserID" type="text" formControlName="userId" class="form-control mb-4">

           <p style="color: red;" *ngIf="addRecipeForm.get('userId').touched && addRecipeForm.get('userId').hasError('required')">Required field</p>

           <input placeholder="Recipe price" type="text" formControlName="price" class="form-control mb-4">

           <p style="color: red;" *ngIf="addRecipeForm.get('price').touched && addRecipeForm.get('price').hasError('required')">Required field</p>

           <input placeholder="Recipe description" type="text" formControlName="description" class="form-control mb-4">

           <p style="color: red;" *ngIf="addRecipeForm.get('description').touched && addRecipeForm.get('description').hasError('required')">Required field</p>
        
          
                <div class="card" style="width: 34rem; border: 1px solid green;" >
           
                  <h1 style="text-align: center;padding-top: 10%;">Ingredient form</h1>
          
                  <form class="text-center border border-light p-5" [formGroup]="ingredientForm " (ngSubmit)="onSubmit()">

                      <div class="form-group">

                        <label> Choose ingredient for the recipe</label>

                        <select class="form-conrol custom-dropdown" formControlName="id" >

                          <option>Ingredients</option>

                          <option *ngFor="let dl of IngredientsForm" [value]="dl.id">{{dl.name}}</option>

                        </select>
                      
                      </div>
          
                    <input placeholder="Quanttiy" type="text" formControlName="quantity" class="form-control mb-4">
          
                     <p style="color: red;" *ngIf="ingredientForm.get('quantity').touched && ingredientForm.get('quantity').hasError('required')">Required field</p>
                    
                    <input placeholder="kg gr ml l" type="text"  formControlName="measure" class="form-control mb-4">
          
                     <p style="color: red;" *ngIf="ingredientForm.get('measure').touched && ingredientForm.get('measure').hasError('required')">Required field</p>
                    
                    <button class="btn btn-success" type="submit" [disabled]="!ingredientForm.valid">Add ingredient</button>
                  
                  </form>
          
                </div>

           <button class="btn btn-success" type="submit" [disabled]="!addRecipeForm.valid" style="margin-top: 5%; margin-right: 2%;">Add recipe</button>
        
        </form>

      </div>

    </div>

  </div>
  
</div>