
<div class="containter" style="margin-top: 10%">

    <div class="row justify-content-center" >
  
      <div class="col-4" >
  
        <div class="card" style="width: 30rem; border: 1px solid green;" >
   
          <h1 style="text-align: center;padding-top: 10%;">Add ingredient form</h1>
  
          <form class="text-center border border-light p-5" [formGroup]="addIngredientForm" (submit)="addIngredient()">
  
            <input placeholder="Ingredient name" type="text" formControlName="name" class="form-control mb-4">
  
             <p style="color: red;" *ngIf="addIngredientForm.get('name').touched && addIngredientForm.get('name').hasError('required')">Required field</p>

             <input placeholder="Ingredient price" type="text" formControlName="price" class="form-control mb-4">
  
             <p style="color: red;" *ngIf="addIngredientForm.get('price').touched && addIngredientForm.get('price').hasError('required')">Required field</p>
            
             <input placeholder="Ingredient quantity" type="text" formControlName="quantity" class="form-control mb-4">
  
             <p style="color: red;" *ngIf="addIngredientForm.get('quantity').touched && addIngredientForm.get('quantity').hasError('required')">Required field</p>
            
             <input placeholder="kg gr ml l" type="text" formControlName="measure" class="form-control mb-4">
  
             <p style="color: red;" *ngIf="addIngredientForm.get('measure').touched && addIngredientForm.get('measure').hasError('required')">Required field</p>
             
             <button class="btn btn-success" type="submit" [disabled]="!addIngredientForm.valid">Add ingredient</button>
          
          </form>
  
        </div>
  
      </div>
  
    </div>
    
  </div>
