table{
    width: 80%;
    margin-left: 10%;
    cursor: pointer;
}
table tr td{
    text-align: center;
}
table thead tr{
    text-align: center;
}
.row{
    width: 90%;
}
.container{
 border: 2px solid green;
 font-weight: bold;
}
.container_{
    margin-top: 10%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 2%;
}
.navbar{
    width: 20%;
    margin-left: 70%;
    float: left;
    margin-top: -5%;
}
nav input{
    font-size: 13px;

}