<form [formGroup]="updateIngredientForm" (submit)="updateIngredient()" style="margin-top: 200px;">
    <p>
        <input placeholder="Ingredient name" formControlName="name">
    </p>
    <p>
        <input placeholder="Ingredient price" formControlName="price">
    </p> 
    <p>
        <input placeholder="Ingredient quantity" formControlName="quantity">
    </p> 
    <p>
        <input placeholder="kg gr ml l" formControlName="measure">
    </p>
    <button type="submit" class="btn btn-primary" style="cursor: pointer; margin-left: 3%;">Update category</button>
</form>

